body {
     background: lightgoldenrodyellow;
     text-align: center;
     background-image: url('artificial-intelligence-new-technology-science-futuristic-abstract-human-brain-ai-technology-cpu-central-processor-unit-chipset-big-data-machine-learning-cyber-mind-domination-generative-ai-scaled-1-2048x1366.jpg');
     background-repeat: no-repeat;
     background-size: 100% 100%;
     background-attachment: fixed;
     font-family: "Chivo", sans-serif;
}

h1 {
     color: orange;
}

span {
     color: navy;
}

label {
     color: orange;
     font-family: "Chivo", sans-serif;
     font-size: 18px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select {
     font-size: 20px;
     border: 3px solid blue;
     border-radius: 20px;
     padding: 5px;
     box-shadow: -10px 10px 10px 5px navy;
     margin: 10px;
}

button {
     background: linear-gradient(180deg, green, lightblue);
     color: white;
     font-weight: bold;
     font-size: 18px;
     padding: 8px 20px;
     border: 2px solid forestgreen;
     border-radius: 10px;
     cursor: pointer;
}

button:hover {
     background: linear-gradient(darkred, red, palevioletred);
}

@media only screen and (max-width: 767px) {
     body {
          background-size: cover;
     }

     h1 {
          font-size: 22px;
          color: lightcoral;
     }

     input,
     select {
          width: 80px;
          box-shadow: none;
     }

     button {
          width: 50px;
     }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
     h1 {
          color: lightblue;
     }

     input,
     select {
          width: 70px;
     }
}
